<BsNavbar @type="" @backgroundColor="light" @position='fixed-top' @class="nav flex-md-nowrap" @toggleBreakpoint='sm'
  @collapsed={{this.collapsed}} @onCollapse={{fn (mut this.collapsed) true}} @onExpand={{fn (mut this.collapsed) false}}
  as |navbar|>
  <div class="navbar-header">
    <LinkTo @route="index" class="navbar-brand">Expert Advice</LinkTo>
    {{navbar.toggle}}
  </div>
  <navbar.content>
    <navbar.nav @class="ml-auto" as |nav|>
      {{#if this.session.user.email}}
      <nav.item>
        {{#nav.link-to "dashboard" class=""}}AF{{/nav.link-to}}
      </nav.item>
      <nav.item>
        <button onclick={{this.logout}} class='nav-link nav-btn'>Logout</button>
      </nav.item>
      {{else}}
      <nav.item>
        {{#nav.link-to "login" class=""}}Login{{/nav.link-to}}
      </nav.item>
      <nav.item>
        {{#nav.link-to "signup" class=""}}Register{{/nav.link-to}}
      </nav.item>
      {{/if}}
    </navbar.nav>
  </navbar.content>
</BsNavbar>
