<BsForm class='question-form' @onSubmit={{action "submit"}} as |form|>
  <form.group class='mb-5'>
    <label class="control-label">Title</label>
    <input value={{this.title}} class="form-control" oninput={{action (mut this.Title) value="target.value"}}
      type="text">
  </form.group>
  <form.group class='mb-5'>
    <label class="control-label">Description</label>
    <textarea value={{this.description}} class="form-control textarea--tall"
      oninput={{action (mut this.description) value="target.value"}} type="text">
      </textarea>
  </form.group>
  <form.group class='mb-5'>
    <label class="control-label">Tags (separated by commas)</label>
    <input value={{this.tags}} class="form-control" oninput={{action (mut this.tags) value="target.value"}} type="text">
  </form.group>
  <form.submitButton>Submit</form.submitButton>
</BsForm>
